<nav>
    <a href="/">
        <li>home</li>
    </a>
    <a href="/morning-pages">
        <li>morning pages</li>
    </a>
    <a href="/about">
        <li>about</li>
    </a>
    <a href="/admin">
        <li>admin</li>
    </a>
</nav>