
        
</html>
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <%- include('./partials/footer.ejs') %>
        <div>
            <h1>#landing</h1>
        </div>
        <div>
            <h1>morning-pages snippet</h1>
            <%= blog.display %> 
        </div>
    </body>
</html>