<html>
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>morning-pages</h1>
        <%- include('./partials/bloglist.ejs') %>
        <%- include('./partials/footer.ejs') %>

    </body>
</html>